<div class="container d-flex justify-content-center mt-3">
    <div class="col-md-4">
        <main class="form-signin w-100 m-auto">
            <form class="loginform" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <div class="border border-secondary px-5 py-3">
                    <h1 class="h3 m-5 pb-3 border-dark border-bottom" style="font-family:cursive;">OVK COMMERCE</h1>
                    <div class="form-group">
                        <input type="text" #emailOrUserName [appValid]="emailOrUserName.validity.valid" required
                            minlength="3" ngModel name="emailOrUserName" id="emailOrUserName"
                            placeholder="Email or username" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="input-group mt-3">
                            <input type="password" [appValid]="password.validity.valid" #password required ngModel
                                name="password" id="password" placeholder="Password" class="form-control">
                            <button class="btn btn-outline-info bg-info-subtle" type="button" id="button-addon2">
                                <i (click)="showOrHidePassword(password)"
                                    [class]="password.type == 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </button>
                        </div>
                    </div>
                    <div>
                        <app-loading-button [form]="loginForm" iconClassName="fa fa-unlock" btnName="Sign In"
                            btnLoadingName="Signing In...">
                        </app-loading-button>
                    </div>
                    <hr>
                    <div class="justify-content-center d-flex">
                    <asl-google-signin-button  type='icon' shape="rectangular" size='large'></asl-google-signin-button>
                    <p class="ms-2 pt-2">Login with Google</p>
                    </div>
                    <hr>
                    <div>
                    <a data-bs-toggle="modal" data-bs-target="#confirmEmailModal" class="h6 text-info">
                        Send to Confirm Email
                    </a>
                    <div class="box text-muted">
                        <p> or </p>
                    </div>
                    <a data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="h6 text-info">Forgot Password</a>
                    </div>
                </div>
                <div class="border border-secondary px-5 pt-4 mt-3">
                    <p>Don't have an account? <a routerLink="/register" class="h6 text-info">Register</a></p>
                </div>
            </form>
        </main>
    </div>
</div>

<!-- Send Confirm Mail Modal -->
<div class="modal fade" id="confirmEmailModal" tabindex="-1" aria-labelledby="confirmEmailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmEmailModalLabel">Send to Confirm Email</h1>
                <button type="button" class="btn-close" id="confirmEmailModalCloseBtn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

             <form #confirmEmailForm="ngForm" (ngSubmit)="sendConfirmMail(confirmEmailForm)">
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" #emailOrUserNameForConfirmEmail
                            [appValid]="emailOrUserNameForConfirmEmail.validity.valid" required minlength="3" ngModel
                            name="emailOrUserNameForConfirmEmail" id="emailOrUserNameForConfirmEmail"
                            placeholder="email or username" class="form-control">
                        <label for="emailOrUserNameForConfirmEmail">Email or username</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success" [disabled]="!confirmEmailForm.valid">
                        Send Email
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="forgotPasswordModalLabel">Forgot Password!</h1>
                <button type="button" class="btn-close" id="forgotPasswordModalCloseBtn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

             <form #forgotPasswordMailForm="ngForm" (ngSubmit)="forgotPasswordMail(forgotPasswordMailForm)">
                <div class="modal-body">
                    <div class="form-floating">
                        <input
                          type="text"
                          #emailOrUserNameForForgotPasswordEmail
                          [appValid]="emailOrUserNameForForgotPasswordEmail.validity.valid"
                          required
                          minlength="3"
                          ngModel
                          name="emailOrUserNameForForgotPasswordEmail"
                          id="emailOrUserNameForForgotPasswordEmail"
                          placeholder="email or username"
                          class="form-control">
                        <label for="emailOrUserNameForForgotPasswordEmail">Email or username</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success" [disabled]="!forgotPasswordMailForm.valid">
                        Send Email
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>