<div class="container d-flex justify-content-center mt-3">
    <div class="col-md-4">
        <main class="form-signin w-100 m-auto">
            <form #refreshPasswordForm="ngForm" (ngSubmit)="refreshPassword(refreshPasswordForm)">
                <div class="border border-secondary px-5 py-3">
                    <h1 class="h3 m-5 pb-3 border-dark border-bottom" style="font-family:cursive;">OVK COMMERCE</h1>
                    <h3>Refresh Password</h3>
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input
                          type="text"
                          #code
                          [appValid]="code.validity.valid"
                          [(ngModel)]="codeText"
                          required
                          minlength="4"
                          maxlength="6"
                          name="code"
                          id="code"
                          placeholder="code"
                          class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="input-group mt-3">
                            <input
                              type="password"
                              [appValid]="password.validity.valid"
                              #password
                              required
                              ngModel
                              name="password"
                              id="password"
                              placeholder="Password"
                              class="form-control">
                            <button class="btn btn-outline-info bg-info-subtle" type="button" id="button-addon2">
                                <i (click)="showOrHidePassword(password)"
                                    [class]="password.type == 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </button>
                        </div>
                    </div>
                    <div>
                        <app-loading-button [form]="refreshPasswordForm" iconClassName="fa-solid fa-arrows-rotate" btnName="Refresh Password"
                            btnLoadingName="Refreshing Password...">
                        </app-loading-button>
                    </div>
                </div>
                <div class="border border-secondary px-5 pt-4 mt-3">
                    <p>Don't have an account? <a routerLink="/register" class="h6 text-info">Register</a></p>
                </div>
            </form>
        </main>
    </div>
</div>
